.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	border: 1px solid #000;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;

	padding-left: 10px;
	padding-right: 10px;

	@media (min-width: 400px) {
		width: 50%;
	}

	@media (min-width: 700px) {
		width: 33.33%;
	}
}

.title {
	color: #ffffff;
}

.img {
	width: 100%;
	height: calc(0.66 * 100vw);
	border-radius: 10px;

@media (min-width: 400px) {
	height: calc(0.5 * 0.66 * 100vw);
}
	@media (min-width: 700px) {
			height: calc(0.33 * 0.66 * 100vw);
	}
	@media (min-width: 1200px) {
			height: calc(0.33 * 0.66 * 1200px);
	}
}



//      <div class="row cards">
//         <div class="card beast">
//           <div class="image">
//             <img class="img">
//           </div>
//           <div class="text">
//             <h1 class="title"></h1>
//           </div>
//         </div>  
//       </div>