
.beastDetails {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	margin: 40px;
}



.top {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1000px;
	background-color: #a9a9a9;
	border-radius: 20px;
	padding: 20px;


	&_top {
		display: flex;
		width: 100%;
		margin-bottom: 20px;
		
		&_imageBox {
			width:  calc(0.38 * 100vw);
			height: calc(0.30 * 100vw);
			margin-right: 20px;
		}

		&_image {
			width: 100%;
			height: 100%;
			border-radius: 20px;
		}

		&_right {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 20px;

		}

		&_text {
			color: #ffffff;
			font-size: 48px;
			margin-top: 20px;
		}
	}

	&_bot {
		display: flex;
		flex-wrap: wrap;

		&_left {
			width: 50%;
		}

		&_mid {
			width: 25%;
		}

		&_right {
			width: 25%;
		}

		&_text {
			color: #ffffff;
			font-size: 32px;
		}
	}
	
}

.skills {
	background-color: #a9a9a9;
	border-radius: 20px;
	padding: 20px;
}

.skill {
	&_title {
		color: #ffffff;
		font-size: 48px;
	}

	&_name {
		color: #ffffff;
		margin-left: 40px;
		font-size: 38px;
	}

	&_effect {
		color: #ffffff;
		margin-left: 80px;
		font-size: 32px;
	}
}

.actions {
	background-color: #a9a9a9;
	border-radius: 20px;
	padding: 20px;
}

.action {
	&_title {
		color: #ffffff;
		font-size: 48px;
	}

	&_name {
		color: #ffffff;
		margin-left: 40px;
		font-size: 38px;
	}

	&_effect {
		color: #ffffff;
		margin-left: 80px;
		font-size: 32px;
	}
}

.details {
	&_back {
		font-size: 32px;
		text-decoration: none;
		color: #ffffff;
		height: 100%;
		width: 100%;
	}

	&_backBox {
		display: flex;
		justify-content: flex-end;
		border-radius: 20px;
		padding: 20px;
	}
}